<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cwz.blog.defaultblog.mapper.ArticleMapper">

    <select id="getArticleAndTagsByArticleId" resultMap="findArtTagsToId">
        select u.*, t.id tagId, tag_name, create_date from article u
        left join article_tags ats on u.id = ats.article_id
        left join tags t on t.id = ats.tag_id
        <where>
            u.id = #{articleId}
            <if test="draft != null and draft != ''">
                and draft = #{draft}
            </if>
        </where>
    </select>
    <resultMap id="findArtTagsToId" type="article">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="original_author" property="originalAuthor"/>
        <result column="article_title" property="articleTitle"/>
        <result column="article_content" property="articleContent"/>
        <result column="article_type" property="articleType"/>
        <result column="article_categories" property="articleCategories"/>
        <result column="publish_date" property="publishDate"/>
        <result column="update_date" property="updateDate"/>
        <result column="article_url" property="articleUrl"/>
        <result column="image_url" property="imageUrl"/>
        <result column="article_tabloid" property="articleTabloid"/>
        <result column="likes" property="likes"/>
        <result column="favorites" property="favorites" />
        <result column="last_article_id" property="lastArticleId"/>
        <result column="next_article_id" property="nextArticleId"/>
        <result column="draft" property="draft"/>
        <collection property="tags" ofType="tags">
            <id column="tagId" property="id"/>
            <result column="tag_name" property="tagName"/>
            <result column="create_date" property="createDate"/>
        </collection>
    </resultMap>

    <select id="findAllToDraftArticles" resultMap="findArtTagsToId">
        select u.*, t.id tagId, tag_name, create_date from
        (select * from article
        <where>
            <if test="draft != null">
                and draft = #{draft}
            </if>
            <if test="categoryId != null and categoryId != ''">
                and article_categories = #{categoryId}
            </if>
            <if test="publishDate != null and publishDate != ''">
                and publish_date like '%${publishDate}%'
            </if>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
            <if test="articleTitle != null and articleTitle != ''">
                and article_title like '%${articleTitle}%'
            </if>
        </where>
        ORDER BY publish_date desc limit #{pageNum}, #{rows}) u
        left join article_tags ats on u.id = ats.article_id
        left join tags t on t.id = ats.tag_id
    </select>

    <!--<foreach collection=""></foreach>-->

    <select id="countArticle" resultType="Integer">
        select COUNT(id) from article
        <where>
            <if test="draft != null">
                and draft = #{draft}
            </if>
            <if test="categoryId != null and categoryId != ''">
                and article_categories = #{categoryId}
            </if>
            <if test="publishDate != null and publishDate != ''">
                and publish_date like '%${publishDate}%'
            </if>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
            <if test="articleTitle != null and articleTitle != ''">
                and article_title like '%${articleTitle}%'
            </if>
        </where>
    </select>


    <select id="findTimeRangeToDraftArticles" resultMap="findArtTagsToId">
        select u.*, t.id tagId, tag_name, create_date from
        (select * from article
        <where>
            <if test="draft != null">
                and draft = #{draft}
            </if>
            <if test="categoryId != null and categoryId != ''">
                and article_categories = #{categoryId}
            </if>
            <if test="publishDate != null and publishDate != ''">
                and publish_date like '%${publishDate}%'
            </if>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
            <if test="articleTitle != null and articleTitle != ''">
                and article_title like '%${articleTitle}%'
            </if>
            <if test="timeRange != null and timeRange != ''">
                and DATE_SUB(CURDATE(), ${timeRange} ) <![CDATA[<=]]> date(publish_date)
            </if>
        </where>
        ORDER BY publish_date desc limit #{pageNum}, #{rows}) u
        left join article_tags ats on u.id = ats.article_id
        left join tags t on t.id = ats.tag_id
    </select>

    <select id="countTimeRangeToArticle" resultType="Integer">
        select COUNT(id) from article
        <where>
            <if test="draft != null">
                and draft = #{draft}
            </if>
            <if test="categoryId != null and categoryId != ''">
                and article_categories = #{categoryId}
            </if>
            <if test="publishDate != null and publishDate != ''">
                and publish_date like '%${publishDate}%'
            </if>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
            <if test="articleTitle != null and articleTitle != ''">
                and article_title like '%${articleTitle}%'
            </if>
            <if test="timeRange != null and timeRange != ''">
                and DATE_SUB(CURDATE(), ${timeRange} ) <![CDATA[<=]]> date(publish_date)
            </if>
        </where>
    </select>


    <select id="selectArticleByTag" resultMap="findArtTagsToId">
        select a.*, t.id tagId, tag_name, create_date from

        (select * from article where id in
        (select ats.article_id from
        ((select * from article_tags where tag_id = #{tagId} limit #{pageNum}, #{rows}) ats
        inner join
        (select * from article
        <where>
            <if test="draft != null">
                and draft = #{draft}
            </if>
            <if test="categoryId != null and categoryId != ''">
                and article_categories = #{categoryId}
            </if>
            <if test="timeRange != null and timeRange != ''">
                and DATE_SUB(CURDATE(), ${timeRange} ) <![CDATA[<=]]> date(publish_date)
            </if>
        </where> ) u
        on u.id = ats.article_id))) a

        inner join article_tags new_ats on a.id = new_ats.article_id
        inner join tags t on t.id = new_ats.tag_id ORDER BY a.publish_date desc
    </select>

    <select id="countArticleByTag" resultType="Integer">
        select COUNT(DISTINCT a.id) from

        (select * from article where id in
        (select ats.article_id from
        ((select * from article_tags where tag_id = #{tagId}) ats
        inner join
        (select * from article
        <where>
            <if test="draft != null">
                and draft = #{draft}
            </if>
            <if test="categoryId != null and categoryId != ''">
                and article_categories = #{categoryId}
            </if>
            <if test="timeRange != null and timeRange != ''">
                and DATE_SUB(CURDATE(), ${timeRange} ) <![CDATA[<=]]> date(publish_date)
            </if>
        </where> ) u
        on u.id = ats.article_id))) a

        inner join article_tags new_ats on a.id = new_ats.article_id
        inner join tags t on t.id = new_ats.tag_id ORDER BY a.publish_date desc
    </select>


    <select id="findAllToDraftArticlesByTimes" resultMap="findArtTagsToId">
        select u.*, t.id tagId, tag_name, create_date from
        (select * from article
        <where>
            <if test="draft != null">
                and draft = #{draft}
            </if>
            <if test="categoryId != null and categoryId != ''">
                and article_categories = #{categoryId}
            </if>
            <if test="articleType != null and articleType != ''">
                and article_type = #{articleType}
            </if>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
            <if test="articleTitle != null and articleTitle != ''">
                and article_title like '%${articleTitle}%'
            </if>
            <if test="firstDate != null and firstDate != ''">
                <choose>
                    <when test="lastDate != null and lastDate != ''">
                        and publish_date between #{firstDate} and DATE_ADD(#{lastDate} ,INTERVAL 1 DAY)
                    </when>
                    <otherwise>
                        and publish_date like '%${firstDate}%'
                    </otherwise>
                </choose>
            </if>
        </where>
        ORDER BY publish_date desc limit #{pageNum}, #{rows}) u
        left join article_tags ats on u.id = ats.article_id
        left join tags t on t.id = ats.tag_id
    </select>

    <!--<foreach collection=""></foreach>-->

    <select id="countArticleByTimes" resultType="Integer">
        select COUNT(id) from article
        <where>
            <if test="draft != null">
                and draft = #{draft}
            </if>
            <if test="categoryId != null and categoryId != ''">
                and article_categories = #{categoryId}
            </if>
            <if test="articleType != null and articleType != ''">
                and article_type = #{articleType}
            </if>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
            <if test="articleTitle != null and articleTitle != ''">
                and article_title like '%${articleTitle}%'
            </if>
            <if test="firstDate != null and firstDate != ''">
                <choose>
                    <when test="lastDate != null and lastDate != ''">
                        and publish_date between #{firstDate} and DATE_ADD(#{lastDate} ,INTERVAL 1 DAY)
                    </when>
                    <otherwise>
                        and publish_date like '%${firstDate}%'
                    </otherwise>
                </choose>
            </if>
        </where>
    </select>

</mapper>
