<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>登录 | 城院校园轻博客</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="alternate icon" type="image/png" th:href="@{img/icon/icon.jpeg}">
    <link rel="stylesheet" th:href="@{https://lib.baomitu.com/amazeui/2.7.2/css/amazeui.min.css}">
    <link rel="stylesheet" th:href="@{https://lib.baomitu.com/font-awesome/5.8.0/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{css/all.css}">
    <link rel="stylesheet" th:href="@{css/login.css}">

    <script th:src="@{https://lib.baomitu.com/jquery/3.3.1/jquery.min.js}"></script>
    <!--<script th:src="@{js/zepto.min.js}"></script>
    <script th:src="@{js/amazeui.min.js}"></script>-->
    <script th:src="@{https://lib.baomitu.com/amazeui/2.7.2/js/amazeui.min.js}"></script>
    <script th:src="@{js/login.js}"></script>
    <script th:src="@{js/all.js}"></script>

</head>
<body>
<div id="app">
    <!--共有头部-->
    <div th:replace="~{common/bar :: topbar}"></div>

    <!--页面主体-->
    <div id="main" style="margin-bottom:0">
        <div class="i_love_you">
            <div class="am-g" style="margin-top: 1%">
                <h2>记忆是无花的蔷薇，永远不会败落</h2>
                <p>不论是难过亦或是开心，都来这里说说吧<br>这里总有一个愿意倾听你述说的人</p>
            </div>
            <hr />
        </div>


        <div class="am-g" style="height: 420px;">
            <div class="am-u-lg-6 am-u-sm-9 am-u-sm-centered">
                <div class="am-tabs" data-am-tabs="{noSwipe: 1}" style="border: none;">
                    <ul class="am-tabs-nav am-nav am-nav-tabs" style="padding: 0 0 0 0">
                        <!--<li th:classappend="${session.imageLogin != null} ? 'am-active' : ''"><a href="#tab1">密码登录</a></li>
                        <li th:classappend="${session.smsLogin != null} ? 'am-active' : ''"><a href="#tab2">验证码登录</a></li>-->
                        <li class="am-active"><a href="#tab1">密码登录</a></li>
                        <li ><a href="#tab2">验证码登录</a></li>
                    </ul>

                    <h3>用户登录 </h3>

                    <hr>
                    <div class="am-tabs-bd" style="border: none;">

                        <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                            <!--th:action="@{/loginFrom}"-->
                            <form th:action="@{/loginFrom}" method="post" class="am-form" >
                                <div  class="loginInput am-input-group am-u-lg-10 col-md-offset-2 am-form-icon am-form-feedback" style="margin-left: 0">
                                    <div class="am-input-group-label"><i class="fa fa-phone fa-lg"></i></div>
                                    <input type="text" name="username" class="am-form-field" id="phone" placeholder="这里输入手机号码哦~~~">
                                    <span id="phone_null" class="icons am-icon-warning" style="color: orange"></span>
                                    <span id="phone_error" class="icons am-icon-times" style="color: red"></span>
                                </div>
                                <br>
                                <div class="loginInput am-input-group am-u-lg-10 col-md-offset-2 am-form-icon am-form-feedback" style="margin-left: 0">
                                    <div class="am-input-group-label"><i class="fa fa-lock fa-lg"></i></div>
                                    <input type="password" name="password" id="password" placeholder="在这里悄悄输入密码">
                                    <span id="password_null" class="icons am-icon-warning" style="color: orange"></span>
                                </div>
                                <br/>
                                <div class="loginInput col-md-offset-2 am-form-icon am-form-feedback" style="margin-left: 0;">
                                    <div class="am-input-group am-u-lg-8">
                                        <div class="am-input-group-label"><i class="fa fa-check fa-lg"></i></div>
                                        <input type="text" name="imageCode" class="am-form-field" id="imageCode" placeholder="验证码在这输入哦">
                                        <span id="imageCode_null" class="icons am-icon-warning" style="color: orange"></span>
                                    </div>
                                    <div class="am-u-sm-4" style="padding-left:0; margin-top: 3px">
                                        <a><img th:src="@{/code/image}" style="height: 33px"></a>
                                    </div>
                                </div>
                                <br>

                                <div class="am-u-lg-10 col-md-offset-2" style="margin-top: 1%">
                                    <label class="rememberMe" for="remember-me">
                                        <input id="remember-me" type="checkbox" name="remember-me" checked>
                                        记住我哦
                                    </label>
                                </div>

                                <br>
                                <div class="am-input-group am-u-lg-10 col-md-offset-2" style="margin-left: 0;">
                                    <input type="submit" id="loginFormSubmit" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl" style="border-radius: 5px">
                                    <!-- 按钮触发模态框 -->
                                    <span th:if="${param.error} and ${session.imageLogin != null}"  class="am-alert am-alert-secondary login_error" data-am-alert style="margin-left: 5%;background-color: #d85a37;color: white;border-radius: 5px">
                                    您还未注册账号或密码错误!</span>
                                    <button type="button" class="am-btn am-btn-default am-btn-sm am-fr" data-am-modal="{target: '#my-alert'}" style="border-radius: 5px">
                                        忘记密码 ^_^?
                                    </button>
                                </div>

                            </form>


                        </div>

                        <div class="am-tab-panel am-fade" id="tab2">
                            <form th:action="@{/sms}" method="post" class="am-form">
                                <div  class="loginInput am-input-group am-u-lg-10 col-md-offset-2 am-form-icon am-form-feedback" style="margin-left: 0">
                                    <div class="am-input-group-label"><i class="fa fa-phone fa-lg"></i></div>
                                    <input type="text" name="mobile" class="am-form-field" id="mobile" placeholder="这里输入手机号码哦~~~">
                                    <span id="sms_phone_null" class="icons am-icon-warning" style="color: orange"></span>
                                    <span id="sms_phone_error" class="icons am-icon-times" style="color: red"></span>
                                </div>
                                <br>
                                <div class="loginInput col-md-offset-2 am-form-icon am-form-feedback" style="margin-left: 0;">
                                    <div class="am-input-group am-u-lg-8">
                                        <div class="am-input-group-label"><i class="fa fa-check fa-lg"></i></div>
                                        <input type="text" name="smsCode" class="am-form-field" id="smsCode" placeholder="验证码在这输入哦">
                                        <span id="smsCode_null" class="icons am-icon-warning" style="color: orange"></span>
                                        <!--<span id="smsCode_error" class="icons am-icon-times" style="color: red"></span>-->
                                    </div>
                                    <div class="am-u-sm-4" style="padding-left:0; margin-top: 3px">
                                        <button type="button" id="getSmsCode" class="am-btn am-btn-secondary am-round">获取验证码</button>
                                    </div>
                                </div>
                                <br>

                                <div class="am-input-group am-u-lg-12 col-md-offset-2" style="margin-left: 0; margin-top: 3%">
                                    <input type="submit" id="loginSmsFormSubmit" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl btn" style="border-radius: 5px">
                                    <span th:if="${param.error} and ${session.smsLogin != null}" class="am-alert am-alert-secondary sms_login_error" data-am-alert style="margin-left: 5%;background-color: #d85a37;color: white;border-radius: 5px">
                                        您还未注册账号或手机验证码错误!</span>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>

                <div>

                    <!-- 模态框（Modal） -->
                    <div class="am-modal am-modal-alert" tabindex="-1" id="my-alert" style="margin: 0 0 0 0">
                        <div class="am-modal-dialog" style="border-radius: 5px;">
                            <div class="am-modal-hd" style="text-align: left;margin:auto auto 5px 20px">客官，在这里修改密码呦
                                <a href="javascript: void(0)" class="am-close am-close-alt am-close-spin" data-am-modal-close style="margin: 7px 10px auto auto">&times;</a>
                            </div>
                            <div class="am-modal-bd">
                                <form id="modal_form" class="am-form am-form-horizontal">
                                    <div class="am-form-group">
                                        <label for="modal_phone" class="am-u-sm-4 am-form-label">手机号</label>
                                        <div class="am-u-sm-8 am-form-icon am-form-feedback">
                                            <input class="modal_value" type="text" id="modal_phone" placeholder="输入要修改的手机号哦">
                                            <span id="modal_phone_null" class="modal_icons am-icon-warning" style="color: orange"></span>
                                            <span id="modal_phone_error" class="modal_icons am-icon-times" style="color: red"></span>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="auth_code" class="am-u-sm-4 am-form-label">验证码</label>
                                        <div class="am-u-sm-4 am-form-icon am-form-feedback">
                                            <input class="modal_value" type="text" id="auth_code" placeholder="这里输入验证码哦">
                                            <span id="auth_code_null" class="modal_icons am-icon-warning" style="color: orange"></span>
                                            <span id="auth_code_error" class="modal_icons am-icon-times" style="color: red"></span>
                                        </div>
                                        <div class="am-u-sm-4" style="padding-left:0">
                                            <button type="button" id="msg_btn" class="am-btn am-btn-secondary am-round">获取验证码</button>
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="new_password" class="am-u-sm-4 am-form-label">新密码</label>
                                        <div class="am-u-sm-8 am-form-icon am-form-feedback">
                                            <input class="modal_value" value="" type="password" id="new_password" placeholder="快来设置一个新密码吧">
                                            <span id="new_password_null" class="modal_icons am-icon-warning" style="color: orange"></span>
                                        </div>
                                    </div>

                                    <div class="am-form-group">
                                        <label for="check_password" class="am-u-sm-4 am-form-label">确认密码</label>
                                        <div class="am-u-sm-8 am-form-icon am-form-feedback">
                                            <input class="modal_value" type="password" id="check_password" placeholder="再次确认一下新密码哦">
                                            <span id="modal_check_password_error" class="icons am-icon-times" style="color: red"></span>
                                            <span id="check_password_null" class="modal_icons am-icon-warning" style="color: orange"></span>
                                        </div>
                                    </div>
                                    <div class="phoneNotExit">
                                        <span class="modal_icons phoneNotExitSpan">手机号不存在,修改密码失败！</span>
                                    </div>
                                </form>
                            </div>
                            <div class="am-modal-footer" style="text-align: right">
                                <button type="button" id="change_password_cancel_btn" class="am-btn am-btn-default am-round" data-am-modal-close>取消</button>
                                <button type="button" id="change_password_btn" class="am-btn am-btn-warning am-round">确认修改</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--引入共有底部-->
    <div th:replace="common/bar :: footer"></div>
    <!--消息盒子+反馈-->
    <div th:replace="common/bar :: feedback"></div>

</div>
</body>
</html>
