<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>用户详情 | 城院校园轻博客</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="alternate icon" type="image/png" th:href="@{img/icon/icon.jpeg}">
    <link rel="stylesheet" th:href="@{https://lib.baomitu.com/amazeui/2.7.2/css/amazeui.min.css}">
    <link rel="stylesheet" th:href="@{https://lib.baomitu.com/font-awesome/5.8.0/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{css/all.css}">
    <link rel="stylesheet" th:href="@{css/tags.css}">
    <link rel="stylesheet" th:href="@{css/categories.css}">
    <link rel="stylesheet" th:href="@{css/comment.css}">
    <link rel="stylesheet" th:href="@{css/person.css}">
    <link rel="stylesheet" th:href="@{css/plugs_paging.css}">

    <script th:src="@{https://lib.baomitu.com/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{https://lib.baomitu.com/underscore.js/1.9.1/underscore-min.js}"></script>
    <script th:src="@{https://lib.baomitu.com/amazeui/2.7.2/js/amazeui.min.js}"></script>
    <script th:src="@{js/all.js}"></script>
    <script th:src="@{js/person.js}"></script>
    <script th:src="@{js/plugs_paging.js}"></script>
</head>
<body>

    <!--共有头部-->
    <div th:replace="~{common/bar :: topbar}"></div>

    <!--页面主体-->
    <div id="main">
        <div class="am-container">
            <!--<img th:src="@{img/general/loading.gif}" style="margin-left: 17%">-->

            <div class="am-g">
                <div class="site-inner" style="margin: 30px 10px 0">

                    <!--左侧-->
                    <div class="am-u-sm-12 am-u-md-4">
                        <div class="categories">

                            <div class="categories-comment">
                                <div class="personBtnShow am-btn am-btn-default articleShow">
                                    <div class="cwz-div"><div style="color: white"><span class="am-icon-file-text"></span></div></div>文章
                                </div>

                                <div class="personBtnShow am-btn am-btn-default attentionShow">
                                    <div class="cwz-div"><div style="color: white"><span class="am-icon-star"></span></div></div>关注
                                </div>

                                <div class="personBtnShow am-btn am-btn-default fanShow">
                                    <div class="cwz-div"><div style="color: white"><span class="am-icon-heart"></span></div></div>粉丝
                                </div>

                            </div>

                        </div>
                    </div>


                    <!--右侧-->
                    <div class="am-u-sm-12 am-u-md-8">

                        <div id="articleShow">

                            <div class="articleTimeline">
                                <!--消除留言先加载视觉效果-->
                                <div class="timeline timeline-wrap">
                                    <div class="timeline-row">

                                        <h1 class="title"></h1>
                                    </div>
                                    <div class="timeline-row-major">
                                        <div style="height: 88.4px">
                                        </div>
                                    </div>
                                    <div class="timeline-row-major">
                                        <div style="height: 88.4px">
                                        </div>
                                    </div>
                                    <div class="timeline-row-major">
                                        <div style="height: 88.4px">
                                        </div>
                                    </div>
                                    <div class="timeline-row-major">
                                        <div style="height: 88.4px">
                                        </div>
                                    </div>
                                    <div class="timeline-row-major">
                                        <div style="height: 88.4px">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="attentionShow">

                            <div class="attentionTimeline">
                                <!--消除留言先加载视觉效果-->
                                <div class="timeline timeline-wrap">
                                    <div class="timeline-row">

                                        <h1 class="title"></h1>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div id="fanShow">

                            <div class="fanTimeline">
                                <!--消除留言先加载视觉效果-->
                                <div class="timeline timeline-wrap">
                                    <div class="timeline-row">

                                        <h1 class="title"></h1>
                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>


        </div>
    </div>
    <!--引入共有底部-->
    <div th:replace="common/bar :: footer"></div>
    <!--消息盒子+反馈-->
    <div th:replace="common/bar :: feedback"></div>


</body>
</html>
